<h2>{{ title }}</h2>
<img src="{{ imageUrl }}" width="200px" height="112px" />
<img [src]="imageUrl2" width="200px" height="112px" />

<fieldset>
  <legend>Using ngIf</legend>
  <div *ngIf="courses.length > 0; then coursesList else noCourse"></div>
  <ng-template #coursesList>
    <h1>List of courses</h1>
    <ul>
        <li *ngFor="let course of courses">
            {{ course }}
        </li>
    </ul>
  </ng-template>
  <ng-template #noCourse>  
      <h2>No course yet</h2>
  </ng-template>
</fieldset>

<fieldset>
    <legend>Using hidden property</legend>
    
    <div [hidden]="courses.length == 0">
      <h1>List of courses</h1>
      <ul>
          <li *ngFor="let course of courses">
              {{ course }}
          </li>
      </ul>
    </div>
    <div [hidden]="courses.length > 0">
        <h2>No course yet</h2>
    </div>
</fieldset>

<input type="text" #newCourse (keyup.enter)="onClick_addCourse(newCourse.value)" />
<input type="button" (click) = "onClick_addCourse(newCourse.value)" value="add course" />