<form #f="ngForm" [formGroup]="form" (ngSubmit)="changePassword()">
    <label for="oldPassword">Old Password</label>
    <input type="text" class="form-control" formControlName="oldPassword">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && !oldPassword.valid && oldPassword.errors">
      <div *ngIf="oldPassword.errors.required">Old password is required.</div>
      <div *ngIf="oldPassword.errors.invalid">Old password is not valid.</div>      
    </div>
    
    <br />

    <label for="newPassword">New Password</label>
    <input type="text" class="form-control" formControlName="newPassword">
    <div class="alert alert-danger" *ngIf="newPassword.touched && !newPassword.valid">
      <div *ngIf="newPassword.errors.required">New password is required.</div>
    </div>
    
    <br />

    <label for="confirmPassword">Confirm Password</label>
    <input type="text" class="form-control" formControlName="confirmPassword">  
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && !confirmPassword.valid">
        <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
        <div *ngIf="confirmPassword.errors.passwordsDontMatch">Passwords don't match.</div>
    </div>

  <br />

    <div class="alert alert-danger" *ngIf="f.errors">        
        <div *ngIf="f.errors.passwordsDontMatch">Passwords don't match.</div>
    </div>

    <button class="btn btn-primary" [disabled]="!f.valid">Change Password</button>
</form>