<p>
  {{text | summary:10}}
</p>

<br /><br />

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<br /><br />

<button
  [style.backgroundColor]= "canSave? 'blue':'gray'"
  [style.color]="canSave? 'white': 'black'"
  [style.fontweight]="canSave ? 'bold':'normal'"
>
Save (style binding)
</button>


<button
  [ngStyle]="{
    'backgroundColor': canSave? 'blue' : 'gray',
    'color': canSave? 'white': 'black'
  }"
>
Save (ngStyle)
</button>


<br /><br />

{{ task.assignee?.name}}