<h1>My followers</h1>

<ul class="list-group followers">
  <li 
    *ngFor="let follower of followers"
    class="list-group-item">

        <div class="follower_content">
          
          <div class="follower_avatar">
            <img src="{{ follower.avatar_url }}" />          
          </div>
          
          <div class="follower_info">
            <b>{{ follower.login }}</b>
            <br />
            <a href="{{ follower.html_url }}">{{ follower.html_url }}</a>
          </div>
      </div>
  </li>
</ul>