/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.btn {
    margin:20px;
}

hr {
    border: 1px solid black;
    color: black;
}

body {
    padding-left:10px;
}